html, 
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#background {
	background-color: #000;
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;

}

#loginContainer * {
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer {
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}