html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
}
#nowPlayingBarContainer {
	width: 100%;
	background-color: #282828;
	bottom: 0;
	position: fixed;
	min-width: 620px;
}

#nowPlayingBar {
	display: flex; /*YEAHHHHH!*/
	height: 90px;
	padding: 16px;
	box-sizing: border-box;
}

#nowPlayingLeft, 
#nowPlayingRight {
	width: 30%;
	min-width: 180px;
}

#nowPlayingRight {
	position: relative;
	margin-top: 16px;
}


#nowPlayingCenter {
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#nowPlayingBar .content {
	width: 100%;
	height: 57px;
}

.playerControls .buttons{
	margin: 0 auto;
	display: table;
}

.controlButton {
	background-color: transparent;
	border: none;
	vertical-align: middle;
}
.controlButton img {
	width: 20px;
	height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
	width: 32px;
	height: 32px;
}

.controlButton:hover {
	cursor: pointer;
}

.progressTime {
	color: #a0a0a0;
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}

.playbackBar {
	display: flex;
}

.progressBar {
	width: 100%;
	height: 12px;
	display: inline-flex;
	cursor: pointer;
}
.progressBarBg {
	background-color: #404040;
	height: 4px;
	width: 100%;
	border-radius: 2px;
}

.progress {
	background-color: #a0a0a0;
	height: 4px;
	width: 0;
	border-radius: 2px;
}

.playbackBar .progressBar {
	margin-top: 3px;

}


#nowPlayingLeft .albumArtwork {
	height: 100%;
	max-width: 57px;
	margin-right: 15px;
	float: left;
	background-size: cover;
}

#nowPlayingLeft .trackInfo {
	display: table;

}

#nowPlayingLeft .trackInfo .trackName {
	margin: 6px 0;
	display: inline-block;
	width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
	font-size: 12px;
	color: #a0a0a0;	
}

.volumeBar {
	width: 180px;
	position: absolute;
	right: 0;
}

.volumeBar .progressBar {
	width: 125px;
}